  <h1>admin user list</h1>
    <%= link_to "Back to all movies", movies_path %>
  <hr>
  

  <% if @users == nil %>
    <h1>NOT ALLOWED</h1>
  <% else %>
  <%= link_to "Submit a user!",  new_admin_user_path %>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>created at</th>
        <th>updated at</th>
        <th>Admin</th>
        <th>delete</th>
        <th>Impersonate</th>
      </tr>
    </thead>

    <tbody>

    <%= paginate @users %>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
        <td><%= user.updated_at %></td> 
        <td><%= "yes" if user.admin %></td>
        <td>
          <% if current_user != user %>
          <%= form_for [:admin, user], method: "delete" do |f| %>
            <button type="submit">Delete</button>
          <% end %>
          <% end %>
        </td>
        <td>placehldr</td>
      </tr>

    </tbody>
      <hr>
    <% end %>
  <% end %>